{% extends 'base.html' %}

{% block title %} Order status {% endblock title %}

{% block header %}Order status {{status}} {% endblock header %}

{% block body %}

        <h3>Whant to cancel your order?</h3>
        <form action="{% url 'orders:order-status-update' %}" method="post">
            {% csrf_token %}
                <input type="submit" value="Whant to cancel?" class="btn btn-danger">
                <input type="hidden" name="session" value="{{ session }}">   
                <input type="hidden" name="status_" value="Cancel">   
        </form>
        <br> 

        <form action="{% url 'orders:order-status-update' %}" method="post">
            {% csrf_token %}
                <input type="submit" value="Thx for order!" class="btn btn-primary">
                <input type="hidden" name="session" value="{{ session }}">
                <input type="hidden" name="status_" value="Processing">    
        </form>
        <br>   
{% endblock body %}
