{% extends 'base.html' %}

{% block title %}Sales view{% endblock title %}

{% block header %}Sales authors view{% endblock header %}   
    
{% block body %}   

    <ul>
        {% for obj in object_list %}
        <li>
            <a href="{% url 'sales:sales-author-view' obj.pk %}">{{ obj.description }}</a>
            <a href="{% url 'sales:sales-author-edit' obj.pk %}">(EDIT)    |</a>
            <a href="{% url 'sales:sales-author-delete' obj.pk %}">|    (DELETE)</a>
        </li>
        {% endfor %}
    </ul>

    
    <a href="{% url 'sales:sales-author-add' %}">Add sales authors</a> 

{% endblock body %}
