

{% extends 'base.html' %}
{% load static %}
{% block title %}Sales view{% endblock title %}

{% block header %}Sales books view{% endblock header %}   
    
{% block body %}   

    

    <div style="overflow: hidden;">
        <div style="width: 1000%;">
            {% for obj in object_list %}
            <div class="card" style="width: 20rem; height: auto; float: left; padding: 5px; margin: 5px;">
                {% if obj.picture %}
                <img src="{{ obj.picture.url }}" class="card-img-top" alt="..." width=308px height=200px>
                {% else %}
                <img src="{% static 'cbcf5ad64e9c9752c07e4528e08f187c.png' %}" class="card-img-top" alt="..."width=308px height=200px>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">Sales number: {{ obj.pk }}</h5>
                    <p class="card-text">Sales name: {{ obj.name }}</p>  <br>

    
                    <a href="{% url 'sales:sales-book-view' obj.pk %}" class="btn btn-primary">View</a>

                    {% for group in request.user.groups.all %}
                    {% if group.name == 'Admin' or group.name == 'Super_managers' %}
                        <a href="{% url 'sales:sales-book-edit' obj.pk %}" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                        <a href="{% url 'sales:sales-book-delete' obj.pk %}" class="btn btn-primary"><i class="bi bi-trash"></i></a>
                    {% elif group.name == 'Managers'%} 
                        <a href="{% url 'sales:sales-book-edit' obj.pk %}" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                    {% elif group.name == 'Users'%}
                        <button type="button" class="btn btn-primary"><a href="#"></a><i class="bi bi-cart4"></i></i></a></button>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
    {% for group in request.user.groups.all %}
    {% if group.name == 'Admin' or group.name == 'Super_managers' or group.name == 'Managers' %}
    <a href="{% url 'sales:sales-book-add' %}"><button type="button" class="btn btn-primary">Add book sales</button></a>
    {% endif %}
    {% endfor %}

{% endblock body %}


