{% extends 'base.html' %}
{% load static %}
{% block title %}Books view{% endblock title %}

{% block header %}Books view{% endblock header %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for obj in object_list %}
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-5">
                <div class="card" style="width: 300px; height: 550px; float: left; padding: 10px; margin: 10px;">
                    {% if obj.picture %}
                        <img src="{{ obj.picture.url }}" class="card-img-top" alt="..." width=308px height=250px>
                    {% else %}
                        <img src="{% static 'images.jfif' %}" class="card-img-top" alt="..."width=308px height=250px>
                    {% endif %}
                    
                    <div class="card-body">
                        <h5 class="card-title">Book name: {{ obj.name }}</h5>
                        <p class="card-text" style="text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 4; white-space: nowrap;">{{ obj.description }}</p>
                        <p class="card-text">Price for 1 piece: {{ obj.price }} USD</p>  <br>
                        <div style="">
                            <a href="{% url 'books:book-view' obj.pk %}" class="btn btn-primary">View</a>
                        
                            {% for group in request.user.groups.all %}
                            {% if group.name == 'Admin' or group.name == 'Super_managers' %}
                                <a href="{% url 'books:book-edit' obj.pk %}" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                                <a href="{% url 'books:book-delete' obj.pk %}" class="btn btn-primary"><i class="bi bi-trash"></i></a>
                            {% elif group.name == 'Managers'%}
                                <a href="{% url 'books:book-edit' obj.pk %}" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                            {% endif %}
                            {% endfor %}
                            <br><br>
                            <form action="{% url 'orders:add-to-cart' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-primary">
                                            <a href=""></a><i class="bi bi-cart4"></i></i></a>
                                        </button>
                                    </div>
                                    <div class="col-1">
                                        <input type="hidden" name="book_id" value="{{ obj.pk }}">
                                        {% if user.is_authenticated %}
                                            <input type="number" name="quantity" min = "1" max = "{{ obj.quantity }}" step="1" value="1" style="width: 60px;">
                                        {% else %}
                                            <input type="number" name="quantity" min = "1" max = "1" step="1" value="1" style="width: 60px;">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>

    <br><br>
    {% for group in request.user.groups.all %}
    {% if group.name == 'Admin' or group.name == 'Super_managers' or group.name == 'Managers' %}
        <a href="{% url 'books:book-add' %}"><button type="button" class="btn btn-primary">Add Book</button></a>
    {% endif %}
    {% endfor %}
<br>

{% endblock body %}

