{% extends 'base.html' %}

{% block title %}Carts view{% endblock title %}

{% block header %}Carts {{ user }} view{% endblock header %}   
    
{% block body %}   
   
    {% if carts %}

        <b>Your Carts :</b><br><br>

        {% for cart in carts %}
        <form action="{% url 'auth:cart-view' cart.session_id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Cart {{ cart.pk }}. Status - {{ cart.status }}" class="btn btn-primary btn-sm">
            <input type="hidden" name="session" value="{{ cart.session_id }}">
        </form>        
        <br>    
        {% endfor %}
    {% else%}
    <h4>There is no such information yet</h4>
    {% endif %}
    
    <br><br><br>
    {% comment %} <a href="{% url 'dirs:author-view-all' %}"><button type="button" class="btn btn-primary">All Authors</button></a> {% endcomment %}
    
{% endblock body %}
