{% extends 'base.html' %}

{% block title %}Cart view{% endblock title %}

{% block header %}Cart {{ user }} {% endblock header %}   
    
{% block body %}   
<h4>Your book in cart:</h4>
{% for book in books %}
{{book.book.name }}<br>
{% endfor %}

<br><br>

{% if cart.status == "Start"%}
<h4>You can edit your cart untill you complete your order:</h4>
    <form action="{% url 'orders:books_list' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Want to edit?">
        <input type="hidden" name="session" value="{{ cart.session_id }}">
        <input type="hidden" name="customer" value="{{ cart.customer }}">
    </form>
    <br><br>

{% else %}
<h4>You can't edit your cart, managers have already started processing it.</h4>
<h5>Status of your order:  {{cart.status }}</h5>
{%endif%}
<br><br>
{% if cart.status != "Close"%}
<form action="{% url 'orders:order-status-update' %}" method="post">
    {% csrf_token %}
        <input type="submit" value="Whant to cancel?" class="btn btn-danger">
        <input type="hidden" name="session" value="{{ cart.session_id }}">   
        <input type="hidden" name="status_" value="Cancel">   
</form>
{%endif%}

<br>
<h4>Chat: </h4>

{% for line in notes_lines%}
{{line}} <br>
{%endfor%}
<br>
 <form action="{% url 'auth:cart-view-update' cart.session_id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Customer message:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="notes"></textarea>
    </div>
    <p><input type="submit" value="Update/Send message" class="btn btn-primary"></p>
    <input type="hidden" name="session" value="{{ session }}">
</form>


{% endblock body %}
