{% extends 'base.html' %}

{% block title %}Author view{% endblock title %}

{% block header %}Author view{% endblock header %}   
    
{% block body %}   
    <ul>
        {% for author in object_list %}
        <li>
            <a href="/dirs/author_view/{{ author.pk }}">{{ author.name }}</a>
            <a href="/dirs/author_edit/{{ author.pk }}">(EDIT)    |</a>
            <a href="/dirs/author_delete/{{ author.pk }}">|    (DELETE)</a>
        </li>
        {% endfor %}
    </ul>

<br><br><br>
<a href="/dirs/books_view/">All Books</a>    ||    
<a href="/dirs/authors_view/">All Authors</a>    ||    
<a href="/dirs/publishings_view/">All Publishings houses</a>    ||
<a href="/dirs/serieses_view/">All Series</a>

{% endblock body %}
