<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author view</title>
</head>
<body>
    <h1>Authors view</h1>
    <ul>
        {% for author in object_list %}
        <li>
            <a href="/dirs/author_view/{{ author.pk }}">{{ author.name }}</a>
            <a href="/dirs/author_edit/{{ author.pk }}">(EDIT)    |</a>
            <a href="/dirs/author_delete/{{ author.pk }}">|    (DELETE)</a>
        </li>
        {% endfor %}
    </ul>

<a href="/dirs/publishings_view/">All Publishings Houses</a>    ||    
<a href="/dirs/books_view/">All Books</a>    ||
<a href="/dirs/serieses_view/">All Series</a>
</body>
</html>