{% extends 'base.html' %}

{% block title %}Author view{% endblock title %}

{% block header %}Author view{% endblock header %}   
    
{% block body %}   
    <ul>
        {% for author in object_list %}
        <li>
            <a href="{% url 'dirs:author-view' author.pk %}">{{ author.name }}</a>
            <a href="{% url 'dirs:author-edit' author.pk %}"><i class="bi bi-pencil"></i></a>
            <a href="{% url 'dirs:author-delete' author.pk %}"><i class="bi bi-trash"></i></a>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'dirs:author-add' %}">Add Author<i class="bi bi-plus-square"></i></a>  
    <br><br><br>


{% endblock body %}
