{% extends 'base.html' %}

{% block title %}Books view{% endblock title %}

{% block header %}Books view{% endblock header %}

{% block body %}
    Date {{ date }}
    <br><br>
    <table class="table table-striped table-hover table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">Book name</th>    
                <th scope="col">Book action</th> 
                <th scope="col">Book action</th>   
            </tr>   
        </thead>
        <tbody>
            {% for book in object_list %}
            <tr>
                <td><a href="{% url 'dirs:book-view' book.pk %}">{{ book.name }}</a></td>    
                <td><a href="{% url 'dirs:book-edit' book.pk %}"><i class="bi bi-pencil"></i></a></td> 
                <td><a href="{% url 'dirs:book-delete' book.pk %}"><i class="bi bi-trash"></i></a></td>      
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'dirs:book-add' %}">Add Book <i class="bi bi-plus-square"></i></a>  
<br><br><br>

{% endblock body %}

