<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book view</title>
</head>
<body>
    Date : {{ date }}
    <h1>{{ object.name }}</h1>
    <b>Author:</b> {{ author }} <br>
    <b>Publishing:</b> {{ object.publishing.name }}<br>
    <b>Description:</b> {{ object.description }}<br>
    <b>Series:</b> {{ object.series }}<br>
    <b>Genre:</b> {{ genre }}
    <br><br><br>
    <a href="/dirs/books_view/">All Books</a>

</body>
</html>
