{% extends 'base.html' %}

{% block title %}Books view{% endblock title %}

{% block header %}Books view{% endblock header %}

{% block body %}
    Date {{ date }}
    <br><br>
    <table border="1">
        <tr>
            <td>Book name</td>    
            <td>Book action</td> 
            <td>Book action</td>      
        </tr>
        {% for book in object_list %}
        <tr>
            <td><a href="{% url 'dirs:book-view' book.pk %}">{{ book.name }}</a></td>    
            <td><a href="{% url 'dirs:book-edit' book.pk %}">(EDIT)</a></td> 
            <td><a href="{% url 'dirs:book-delete' book.pk %}">(DELETE)</a></td>      
        </tr>
        {% endfor %}
    </table>
<br><br><br>
<a href="/dirs/books_view/">All Books</a>    ||    
<a href="/dirs/authors_view/">All Authors</a>    ||    
<a href="/dirs/publishings_view/">All Publishings houses</a>    ||
<a href="/dirs/serieses_view/">All Series</a>

{% endblock body %}

