{% extends 'base.html' %}

{% block title %}Book view{% endblock title %}

{% block header %}Book {{ object.name }} view{% endblock header %}

{% block body %}
    Date : {{ date }} <br><br>
    <b>Author:</b> {{ author }} <br>
    <b>Publishing:</b> {{ object.publishing.name }}<br>
    <b>Description:</b> {{ object.description }}<br>
    <b>Series:</b> {{ object.series }}<br>
    <b>Genre:</b> {{ genre }}
    <br><br><br>
    <a href="{% url 'dirs:book-view-all' %}">All Books</a>

{% endblock body %}