{% extends 'base.html' %}

{% block title %}Books view{% endblock title %}

{% block header %}Books view{% endblock header %}

{% block body %}
    Date {{ date }}
    <br><br>
    <table border="1">
        <tr>
            <td>Book name</td>    
            <td>Book action</td> 
            <td>Book action</td>      
        </tr>
        {% for book in object_list %}
        <tr>
            <td><a href="{% url 'dirs:book-view' book.pk %}">{{ book.name }}</a></td>    
            <td><a href="{% url 'dirs:book-edit' book.pk %}">(EDIT)</a></td> 
            <td><a href="{% url 'dirs:book-delete' book.pk %}">(DELETE)</a></td>      
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'dirs:book-add' %}">Add Book</a>  
<br><br><br>
    <a href="{% url 'dirs:book-view-all' %}">All Books</a>    ||    
    <a href="{% url 'dirs:author-view-all' %}">All Authors</a>    ||    
    <a href="{% url 'dirs:publishing-view-all' %}">All Publishings houses</a>    ||
    <a href="{% url 'dirs:series-view-all' %}">All Series</a>    ||
    <a href="{% url 'dirs:genres-view-all' %}">All Genres</a>
{% endblock body %}

