{% extends 'base.html' %}

{% block title %}Genre view{% endblock title %}

{% block header %}Genre {{ object.name }} view{% endblock header %}

{% block body %}
    
    <b>Description:</b> {{ object.description }}<br><br><br>
    {% if books %}
        <b>Books this genre :</b><br><br>
        {% for book in books %}
            <a href="{% url 'books:book-view' book.pk %}">{{ book.name }}</a><br>
        {% endfor %}
    {% else%}
        <h4>There is no such information yet</h4>
    {% endif %}
    <br><br><br>
    <a href="{% url 'dirs:genres-view-all' %}"><button type="button" class="btn btn-primary">All genres</button></a>

{% endblock body %}