{% extends 'base.html' %}

{% block title %}Genre view{% endblock title %}

{% block header %}Genre view{% endblock header %}

{% block body %}
    <ul>
        {% for genre in object_list %}
        <li>
            <a href="{% url 'dirs:genre-view' genre.pk %}">{{ genre.name }}</a>
            {% for group in request.user.groups.all %}
                {% if group.name == 'Admin' or group.name == 'Super_managers' %}
                    <a href="{% url 'dirs:genre-edit' genre.pk %}"><i class="bi bi-pencil"></i></a>
                    <a href="{% url 'dirs:genre-delete' genre.pk %}"><i class="bi bi-trash"></i></a>
                {% elif group.name == 'Managers'%}
                    <a href="{% url 'dirs:genre-edit' genre.pk %}"><i class="bi bi-pencil"></i></a>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% for group in request.user.groups.all %}
        {% if group.name == 'Admin' or group.name == 'Super_managers' or group.name == 'Managers' %}
            <a href="{% url 'dirs:genre-add' %}"><button type="button" class="btn btn-primary">Add genre</button></a>
        {% endif %}
    {% endfor %}
    <br><br><br>

{% endblock body %}
