{% extends 'base.html' %}

{% block title %}Home page{% endblock title %}

{% block header %}Home page{% endblock header %}

{% block body %}

    User : {{ user }} <br>
    Data: {{date}}
    <br><br><br>
    <a href="{% url 'dirs:book-view-all' %}">All Books</a>    ||    
    <a href="{% url 'dirs:author-view-all' %}">All Authors</a>    ||    
    <a href="{% url 'dirs:publishing-view-all' %}">All Publishings houses</a>    ||
    <a href="{% url 'dirs:series-view-all' %}">All Series</a>    ||
    <a href="{% url 'dirs:genres-view-all' %}">All Genres</a>

{% endblock body %}
