{% extends 'base.html' %}

{% block title %}Publishings view{% endblock title %}

{% block header %}Publishing {{ object.name }} view{% endblock header %}

{% block body %}

    <b>Description:</b> {{ object.description }}
    <br><br><br>
    {% if books %}
        <b>Books they published :</b><br><br>
        {% for book in books %}
            <a href="{% url 'books:book-view' book.pk %}">{{ book.name }}</a><br>
        {% endfor %}
    {% else%}
        <h4>There is no such information yet</h4>
    {% endif %}
    <br><br><br>
    <a href="{% url 'dirs:publishing-view-all' %}"><button type="button" class="btn btn-primary">All Publishings Houses</button></a>
{% endblock body %}