{% extends 'base.html' %}

{% block title %}Publishings view{% endblock title %}

{% block header %}Publishings view{% endblock header %}

{% block body %}
    <ul>
        {% for publishing in object_list %}
        <li>
            <a href="{% url 'dirs:publishing-view' publishing.pk %}">{{ publishing.name }}</a>
            <a href="{% url 'dirs:publishing-edit' publishing.pk %}">(EDIT)    |</a>
            <a href="{% url 'dirs:publishing-delete' publishing.pk %}">|    (DELETE)</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'dirs:publishing-add' %}">Add Publishings houses</a>   
    <br><br><br>
    <a href="{% url 'dirs:book-view-all' %}">All Books</a>    ||    
    <a href="{% url 'dirs:author-view-all' %}">All Authors</a>    ||    
    <a href="{% url 'dirs:publishing-view-all' %}">All Publishings houses</a>    ||
    <a href="{% url 'dirs:series-view-all' %}">All Series</a>    ||
    <a href="{% url 'dirs:genres-view-all' %}">All Genres</a>
{% endblock body %}

