{% extends 'base.html' %}

{% block title %}Publishings view{% endblock title %}

{% block header %}Publishings view{% endblock header %}

{% block body %}
    <ul>
        {% for publishing in object_list %}
        <li>
            <a href="{% url 'dirs:publishing-view' publishing.pk %}">{{ publishing.name }}</a>
            {% for group in request.user.groups.all %}
                {% if group.name == 'Admin' or group.name == 'Super_managers' %}
                    <a href="{% url 'dirs:publishing-edit' publishing.pk %}"><i class="bi bi-pencil"></i></a>
                    <a href="{% url 'dirs:publishing-delete' publishing.pk %}"><i class="bi bi-trash"></i></a>
                {% elif group.name == 'Managers'%}
                    <a href="{% url 'dirs:publishing-edit' publishing.pk %}"><i class="bi bi-pencil"></i></a>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% for group in request.user.groups.all %}
        {% if group.name == 'Admin' or group.name == 'Super_managers' or group.name == 'Managers' %}
            <a href="{% url 'dirs:publishing-add' %}"><button type="button" class="btn btn-primary">Add Publishings houses</button></a>
        {% endif %}
    {% endfor %}
    <br><br><br>

{% endblock body %}

