{% extends 'base.html' %}

{% block title %}Series view{% endblock title %}

{% block header %}Series view{% endblock header %}

{% block body %}
    <ul>
        {% for series in object_list %}
        <li>
            <a href="{% url 'dirs:series-view' series.pk %}">{{ series.name }}</a>
            {% for group in request.user.groups.all %}
                {% if group.name == 'Admin' or group.name == 'Super_managers' %}
                    <a href="{% url 'dirs:series-edit' series.pk %}"><i class="bi bi-pencil"></i></a>
                    <a href="{% url 'dirs:series-delete' series.pk %}"><i class="bi bi-trash"></i></a>
                {% elif group.name == 'Managers'%}
                    <a href="{% url 'dirs:series-edit' series.pk %}"><i class="bi bi-pencil"></i></a>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% for group in request.user.groups.all %}
        {% if group.name == 'Admin' or group.name == 'Super_managers' or group.name == 'Managers' %}
            <a href="{% url 'dirs:series-add' %}"><button type="button" class="btn btn-primary">Add series</button></a>
        {% endif %}
    {% endfor %}
    <br><br><br>  
    
{% endblock body %}
