{% extends 'base.html' %}

{% block title %}Series view{% endblock title %}

{% block header %}Series view{% endblock header %}

{% block body %}
    <ul>
        {% for series in object_list %}
        <li>
            <a href="{% url 'dirs:series-view' series.pk %}">{{ series.name }}</a>
            <a href="{% url 'dirs:series-edit' series.pk %}"><i class="bi bi-pencil"></i></a>
            <a href="{% url 'dirs:series-delete' series.pk %}"><i class="bi bi-trash"></i></a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'dirs:series-add' %}"><button type="button" class="btn btn-primary">Add series</button></a>
   
    <br><br><br>

{% endblock body %}
