{% extends 'base.html' %}

{% block title %}Series view{% endblock title %}

{% block header %}Series view{% endblock header %}

{% block body %}
    <ul>
        {% for series in object_list %}
        <li>
            <a href="{% url 'dirs:series-view' series.pk %}">{{ series.name }}</a>
            <a href="{% url 'dirs:series-edit' series.pk %}">(EDIT)    |</a>
            <a href="{% url 'dirs:series-delete' series.pk %}">|    (DELETE)</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'dirs:series-add' %}">Add series</a>   
    <br><br><br>
    <a href="{% url 'dirs:book-view-all' %}">All Books</a>    ||    
    <a href="{% url 'dirs:author-view-all' %}">All Authors</a>    ||    
    <a href="{% url 'dirs:publishing-view-all' %}">All Publishings houses</a>    ||
    <a href="{% url 'dirs:series-view-all' %}">All Series</a>    ||
    <a href="{% url 'dirs:genres-view-all' %}">All Genres</a>
{% endblock body %}
