{% extends 'base.html' %}

{% block title %}Series view{% endblock title %}

{% block header %}Series {{ object.name }} view{% endblock header %}

{% block body %}
    
    <b>Description:</b> {{ object.description }}<br><br><br>
    {% if books %}
        <b>Books this series :</b><br><br>
        {% for book in books %}
            <a href="{% url 'books:book-view' book.pk %}">{{ book.name }}</a><br>
        {% endfor %}
    {% else%}
    <h4>There is no such information yet</h4>
    {% endif %}
    <br><br><br>
    <a href="{% url 'dirs:series-view-all' %}"><button type="button" class="btn btn-primary">All series</button></a>

{% endblock body %}